<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <h1 class="madeline_title">Madeline's Nail Boutique</h1>
        <a class="make_appointment_link" href="">Make An Appointment</a>
    </header>    
    {{{ body }}}
    <footer class="footer">
        <a class="make_appointment_link_two">Make An Appointment</a>
        <a class="admin_login_link">Admin Login</a>
    </footer>
</body>
</html>
