<<<<<<< HEAD

=======
>>>>>>> origin
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
<<<<<<< HEAD
</head>
<body>
        <h1>Madeline's Nail Boutique</h1>

            <div class="flex-column justfy-space-around">
        
            <h2>
                Make a appointment</h2>
            <nav>
                <h2>administration</h2>
            <button class="btn" id="logout">logout</button>
            </nav>
            <main class="container container-fluid mt-5">
            </main> 
        </div>
        {{{ body }}}
</body>
</html>
=======
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <h1 class="madeline_title">Madeline's Nail Boutique</h1>
        <a class="make_appointment_link" href="">Make An Appointment</a>
    </header>    
    {{{ body }}}
    <footer class="footer">
        <a class="make_appointment_link_two">Make An Appointment</a>
        <a class="admin_login_link">Admin Login</a>
    </footer>
</body>
</html>
>>>>>>> origin
