<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madeline's Nail Boutique</title>
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body>
    <header class="header">
        <a href="/home"><h1 class="madeline_title">Madeline's Nail Boutique</h1></a>
        <a class="make_appointment_link" href="/home/requestappt">Make An Appointment</a>
    </header>    
    {{{ body }}}
    <footer class="footer">
        <a href="/home/requestappt" class="make_appointment_link_two">Make An Appointment</a>
        <a href="/home/admin/login" class="admin_login_link">Admin Login</a>
    </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="../../public/js/requestAppt.js"></script>
</body>
</html>