<section class="cards">
    <p class="admin_header">Admin Login</p>
    <input id="username" type="User Name">
    <input id="password" type="Password">
    <button id="adminEnterBtn">Enter</button>
</section>
    <a href="url">Forgot Password?</a>