<section class="cards">
    <h1 class="admin_text">Admin Login</h1>
    <div class="input_container">
        <input id="username" type="User Name" placeholder="Username">
        <input id="password" type="Password" placeholder="Password">
        <button id="adminEnterBtn">Enter</button>
        <a class="forgot_password_path" href="/home/admin/reset">Forgot Password?</a>  
     </div>
</section>
