<section class="cards">
        <style>
            
            section.cards {
            border: 4px solid;
            box-sizing: border-box;
            background: linear-gradient(45deg, #ee008e, #fe6767, transparent);
            padding: 29px;
            margin: 338px;
            border-radius: 80px;
        }
            p {
                text-align: center;
                font-family: system-ui;
                font-size: 35px;
            }
        </style>
        <p>Admin Login</p>
        <input id="username" type="User Name">
        <input id="password" type="Password">
        <button id="adminEnterBtn">Enter</button>
    </section>
    <a href="url">Forgot Password?</a>