<section class="cards">
    <h1 class="admin_container">Admin Login</h1>
    <div class="input_container">
        <input id="username" type="User Name">
        <input id="password" type="Password">
    <button id="adminEnterBtn">Enter</button>
     <a class="forgot_password_path" href="url">Forgot Password?</a>  
     </div>
</section>
   