    <div class="appoint-container"></div>
    <h2> 
        Appointment Date
        </h2>
   <div class="col-md-7">
        <p>
            date:
            {{date}}
             <div class="col-md-7">
        <p>
           time:
            {{time.guest_name}}
        </p>    
    </div>
    {{#time}}
        {{timeInput}}
      {{/time}}  

        </p>
