<section class="container">
  <section class="flex-row justify-center">
    {{#each galleries as |image|}}
    <section class="card">
    <div class="card-body">
      <img src="/images/{{filename}}">
    </div>
    </section>
    {{/each}}
  </section>
</section>
