  <div class="card mb-3">
   <img style="width: 300px;" src="/images/image1.jpg" alt="image of whute and green acrilic nails">
  <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madeline's professionalism and friendliness always impresses me and really makes this boutique special." </p>
    <p>- Angelica</p>
     </div>
      </div>
    

 <div class="card mb-3">
   <img style="width: 300px" src="/images/image2.jpg" alt="image of pink glittry acrilics">
   <div class="card-body">
    <p>"Very clean shop, girls are chill and are welcoming. I love how they offer drinks to clients and treat you like family! Definitely a place to go back too."</p>
    <p>- Alejandra G</p>
  </div>
   </div>

 <div class="card mb-3">
    <img style="width: 300px" src="/images/image3.jpg" alt="image of transparent, glittery green acrilics">
   <div class="card-body">
    <p>"Very nice girls work here. Best quality manicure I have ever gotten. I get gel manicures regularly and they don't usually last the full 2 weeks but the manicure I got from here lasted past the 2 weeks. Only place I will go to now!" </p>
    <p>- Sophie Wesley-</p>
  </div>
   </div>

  <div class="card mb-3">
    <img style="width: 300px" src="/images/image4.jpg" alt="image of neon green acrilic">
   <div class="card-body">
    <p>"Oh my God! I haven't changed my manicures salon since I meet Lucero 5 years ago. She is very competent on her job and the price is fair. All the girls are so adorable and I feel like part of the family." </p>
    <p>- Carla P</p>
  </div>
   </div>

  <div class="card mb-3">
     <img style="width: 300px" src="/images/image5.jpg" alt="image of blue acrilic with white flowers ">
   <div class="card-body">
    <p>"I love this place ❤ nice people." </p>
    <p>- Brianna D</p>
  </div>
   </div>

  <div class="card mb-3">
     <img style="width: 300px" src="/images/image6.jpg" alt="image of pink glittery acrilic">
   <div class="card-body">
    <p>"My friend recommend me this place and I haven't regreted a single visit!"</p>
    <p>- Samantha B</p>
  </div>
   </div>

  <div class="card mb-3">
      <img style="width: 300px" src="/images/image7.jpg" alt="image of pink acrilic with white gems">
   <div class="card-body">
    <p>"Really recommend! Nails always looking amazing ❤️‍🔥 Nail tech: Lucero" </p>
    <p>- Betty H</p>
  </div>
  </div>


