
  <div class="card mb-3">
   <img style="width: 300px" src="/images/image1.jpg" alt="image of whute and green acrilic nails">
  <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madelineis professionalism and friendliness always impresses me and really makes this boutique special." </p>
    <p>-Angelica</p>
     </div>
     </div>

 <div class="card mb-3">
   <img style="width: 300px" src="/images/image2.jpg" alt="image of pink glittry acrilics">
   <div class="card-body">
    <p>"Very clean shop, girls are chill and are welcoming. i love how they offer drinks to clients and treat you like family! definitely a place to go back too"</p>
    <p>- Alejandra G</p>
  </div>
  </div>

 <div class="card mb-3">
    <img style="width: 300px" src="/images/image3.jpg" alt="image of transparent, glittery green acrilics">
   <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madelineis profesinal work always impresses me " </p>
  </div>
</div>

  <div class="card mb-3">
    <img style="width: 300px" src="/images/image4.jpg" alt="image of neon green acrilic">
   <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madelineis profesinal work always impresses me " </p>
  </div>
</div>

  <div class="card mb-3">
     <img style="width: 300px" src="/images/image5.jpg" alt="image of blue acrilic with white flowers ">
   <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madelineis profesinal work always impresses me " </p>
  </div>
</div>

  <div class="card mb-3">
     <img style="width: 300px" src="/images/image6.jpg" alt="image of pink glittery acrilic">
   <div class="card-body">
    <p>"Very clean shop, girls are chill and are welcoming. i love how they offer drinks to clients and treat you like family! definitely a place to go back too"</p>
    <p>- Alejandra G</p>
  </div>
  </div>

   <div class="card mb-3">
     <img style="width: 300px" src="/images/image6.jpg" alt="image of pink glittery acrilic">
   <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madelineis profesinal work always impresses me " </p>
  </div>
  </div>

  <div class="card mb-3">
      <img style="width: 300px" src="/images/image7.jpg" alt="image of pink acrilic with white gems">
   <div class="card-body">
    <p>"Madelines Nail Boutique is my first choice for any adhesive or acrylic work. Madelineis profesinal work always impresses me " </p>
  </div>
  </div>

  



