<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project 2</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css>"
    <header> Madeline's Nail Boutique</header>
    </head>

        <body>
            <div class="flex-column justfy-space-around">
            <header class="display-flex justify-space-between align-center p-2"
            <h1>
                Make a appointment
            </h1>
            <nav>
            <button class="btn" id="logout">logout</button>
            </nav>
            <main class="container container-fluid mt-5">
                {{{ body }}}
            </main>
            <footer>

            </footer>

            {{#if logged_in}}
            <script src="/js/logout.js"></script>
            {{/if}}
            </div>
            </body>

            </header>
        



    </body>
</html>