

     <div class="col-md-7">
        <p>
            type of service:
            {{service.guest_name}}
           <textarea id='description' name='description' rows='5' cols='30'>
            {{description}}
            </p>
      