* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-image: url("../images/backgroundimage2.jpg");
    padding-top: 70px; 
}

footer {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(244, 240, 236);
    
}

.fill{
    min-width: 100%;
    width: 100%;
    background-color: rgb(244, 240, 236);

    

}

.apptCard{
    background-color: rgb(244, 240, 236);

}


.title-text {
    font-size: 50px;
    font-family: 'Satisfy', serif;
    color:palevioletred;
    padding-top: 20px;
   
}

.madeline_title {
    margin-left: 40px;
    text-align: center;
    font-family: auto;
    font-size: 40px;
    text-shadow: 0px 1px 10px rgb(40 40 40);
}



.cards {
    box-sizing: border-box;
    background-color: pink;
    padding: 29px;
    border-radius: 80px;
    width: 800px;
    justify-content: center;
    align-self: center;
    border: 3px dotted #8c61b9;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.admin_text {
    text-align: center;
}

input {
    border-radius: 9px;
    background-color: aliceblue;
}



.cards input {
    margin: 10px;
}

.input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forgot_password_path {
    margin-left: 20px;
}



.make_appointment_link_two,
.admin_login_link {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    align-items: center;
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    margin-right: auto;
}

#adminEnterBtn {
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.appointment_header {
    text-align: center;
}

.appointment_container {
    margin-top: 20px;
    border-bottom: dashed 1px black;
}

a {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: none;
    color: black;
}



.navbar-brand {
  letter-spacing: 3px;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Satisfy', serif;

}

.header-main {
    background-color: lightpink;

}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    margin: 200px;
    border-radius: 50px;
    justify-content: center;
    border: 3px dotted burlywood;
    background-color: lavenderblush;
    font-family: 'Satisfy', serif;
}

img {
    vertical-align: middle;
    border-style: none;
    margin: 25px;
}

.h-75 {
    height: 75%!important;
    background-color: lightpink;
}

