<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
</head>
<body>
        <h1>Madeline's Nail Boutique</h1>

            <div class="flex-column justfy-space-around">
        
            <h2>
                Make a appointment</h2>
            <nav>
            <button class="btn" id="logout">logout</button>
            </nav>
            <main class="container container-fluid mt-5">
            </main> 
        </div>
        {{{ body }}}
</body>
</html>
